body {
    background-color: antiquewhite;
}
h1 {
    color:brown;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li {
    color: green;
    font-weight: bold;
}

.odin-recipe {
    background-color:bisque;
    margin: 20px 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: outset;

}